Repository GreyMatteOr/Crate, pull requests merged in 2020-12, with the labels that each got.

#56 Add Score Attribute to Product
  code/api/package-lock.json
  code/api/package.json
  code/api/src/migrations/5-style-product.js
  code/api/src/modules/product/model.js
  code/api/src/modules/product/types.js
  code/api/src/seeders/2-products.js
Labels: back_end

#60 Survey page
  code/web/src/modules/survey/Overview.js
  code/web/src/modules/survey/Results.js
  code/web/src/modules/survey/Survey/Item.js
  code/web/src/modules/survey/Survey/List.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
  code/web/src/setup/client/App.js
  code/web/src/setup/routes/index.js
  code/web/src/setup/routes/survey.js
  code/web/src/setup/store.js
Labels: front_end, survey-page

#66 Survey
  code/api/src/migrations/6-style-user.js
  code/api/src/migrations/6-survey-items.js
  code/api/src/migrations/7-user-style.js
  code/api/src/modules/survey/model.js
  code/api/src/modules/survey/query.js
  code/api/src/modules/survey/resolvers.js
  code/api/src/modules/survey/types.js
  code/api/src/setup/models.js
  code/api/src/setup/schema/queries.js
Labels: back_end, peer_coded

#67 Seed Data for Classic Style
  code/api/package-lock.json
  code/api/public/images/survey/classic/mens_pants_classic.jpeg
  code/api/public/images/survey/classic/mens_shoes_classic.jpg
  code/api/public/images/survey/classic/mens_suit_classic.jpg
  code/api/public/images/survey/classic/mens_top_classic.jpg
  code/api/public/images/survey/classic/mens_watch_classic.jpg
  code/api/public/images/survey/classic/womans_hat_classic.jpg
  code/api/public/images/survey/classic/womans_pants_classic.jpg
  code/api/public/images/survey/classic/womans_shoes_classic.jpg
  code/api/public/images/survey/classic/womans_top_classic.jpg
  code/api/public/images/survey/classic/womens_dress_classic.jpg
  code/api/src/seeders/classic.js
Labels: back_end, survey-results

#69 Add seeds for modern styles
  code/api/public/images/survey/modern/mens_pants_modern.jpg
  code/api/public/images/survey/modern/mens_shoes_modern.jpg
  code/api/public/images/survey/modern/mens_suit_modren.jpg
  code/api/public/images/survey/modern/mens_top_modern.jpg
  code/api/public/images/survey/modern/mens_watch_modern.jpg
  code/api/public/images/survey/modern/woman_dress_modern.jpg
  code/api/public/images/survey/modern/woman_shoes_morden.jpg
  code/api/public/images/survey/modern/womans_hat_modern.jpg
  code/api/public/images/survey/modern/womans_pants_modern.jpg
  code/api/public/images/survey/modern/womans_top_modern.jpg
  code/api/public/images/survey/modern/womans_watch_modern.jpg
  code/api/src/seeders/modern.js
Labels: back_end, survey-results

#71 Add casual style seeders and images
  code/api/public/images/survey/casual/mens_pants_casual.jpg
  code/api/public/images/survey/casual/mens_shoes_casual.jpg
  code/api/public/images/survey/casual/mens_suit_casual.jpeg
  code/api/public/images/survey/casual/mens_top_casual.jpg
  code/api/public/images/survey/casual/mens_watch_casual.jpg
  code/api/public/images/survey/casual/woman_dress_casual.jpg
  code/api/public/images/survey/casual/woman_shoes_casual.jpeg
  code/api/public/images/survey/casual/womans_hat_casual.jpg
  code/api/public/images/survey/casual/womans_pants_casual.jpg
  code/api/public/images/survey/casual/womans_top_casual.jpg
  code/api/src/seeders/casual.js
Labels: back_end, survey-results

#74 Set style fix
  code/api/src/modules/tests/user/mutation.test.js
  code/api/src/modules/tests/utils.js
  code/api/src/modules/user/mutations.js
  code/api/src/modules/user/resolvers.js
Labels: back_end, bug

#73 Subscribe button to survery
  code/api/package-lock.json
  code/api/package.json
  code/api/src/seeders/casual.js
  code/api/src/seeders/classic.js
  code/api/src/seeders/formal.js
  code/api/src/seeders/modern.js
  code/package-lock.json
  code/web/package-lock.json
  code/web/package.json
  code/web/src/modules/crate/Item.js
  code/web/src/modules/product/Item.js
  code/web/src/modules/survey/Result/Result.js
  code/web/src/modules/survey/Survey/Item.js
  code/web/src/modules/survey/Survey/List.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/user/api/actions.js
  code/web/src/modules/user/api/state.js
  code/web/src/setup/routes/index.js
  code/web/src/setup/routes/result.js
  code/web/src/setup/routes/survey.js
  code/web/src/setup/server/load-routes.js
  code/web/src/setup/store.js
Labels: UI, enhancement, front_end, style-feature, survey-page, user-story

#72 Tests get survey items
  code/api/src/modules/tests/survey/query.test.js
  code/api/src/modules/tests/user/query.test.js
Labels: back_end, testing

#80 Survey page calculation
  code/api/package.json
  code/api/public/images/survey/modern/mens_suit_modern.jpg
  code/api/public/images/survey/modern/woman_shoes_modern.jpg
  code/api/src/seeders/casual.js
  code/api/src/seeders/modern.js
  code/web/src/modules/survey/Survey/Item.js
  code/web/src/modules/survey/Survey/List.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
Labels: UI, enhancement, front_end, router, style-feature, survey-page, survey-results, user-story

#78 Test survey reducers
  code/web/package.json
  code/web/src/modules/survey/Survey/testing/state.test.js
Labels: front_end, style-feature, survey-page, testing

#83 Add testing for list, item and state
  code/web/package.json
  code/web/src/modules/survey/Survey/Item.js
  code/web/src/modules/survey/Survey/List.js
  code/web/src/modules/survey/Survey/testing/Item.test.js
  code/web/src/modules/survey/Survey/testing/List.test.js
  code/web/src/modules/survey/Survey/testing/state.test.js
  code/web/src/modules/survey/api/actions.js
Labels: front_end, style-feature, testing

#84 Fix merge issue
  code/web/package.json
  code/web/src/modules/survey/Survey/Item.js
  code/web/src/modules/survey/Survey/List.js
  code/web/src/modules/survey/Survey/testing/Item.test.js
  code/web/src/modules/survey/Survey/testing/List.test.js
  code/web/src/modules/survey/Survey/testing/state.test.js
  code/web/src/modules/survey/api/actions.js
Labels: bug

#85 Add testing for crate reducer
  code/web/src/modules/crate/api/state.test.js
Labels: front_end, testing

#79 User testing
  code/api/src/modules/tests/user/mutation.test.js
  code/api/src/modules/tests/user/query.test.js
Labels: back_end, testing

#86 Add testing for subscriptionsByUser reducer
  code/web/src/modules/subscription/api/state.test.js
Labels: front_end, testing

#87 Survey result page
  code/web/src/modules/survey/Result/Result.js
  code/web/src/modules/survey/Survey/List.js
Labels: UI, enhancement, front_end, implementation, router, style-feature, survey-results, user-story

#81 Add product query and mutaion tests
  code/api/src/modules/product/resolvers.js
  code/api/src/modules/tests/product/mutation.test.js
  code/api/src/modules/tests/product/query.test.js
  code/api/src/modules/tests/utils.js
Labels: back_end, testing

#89 Final Bug-check
  code/web/package-lock.json
  code/web/src/modules/survey/Survey/Item.js
  code/web/src/modules/survey/Survey/List.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/user/api/actions.js
  code/web/src/modules/user/api/state.js
Labels: bug, cleanup, front_end, survey-page

#88 Test subscriptions
  code/api/package-lock.json
  code/api/package.json
  code/api/src/modules/tests/subscription/query.test.js
  code/api/src/modules/tests/survey/query.test.js
  code/api/src/seeders/4-subscriptions.js
Labels: back_end, testing

#90 Result testing
  code/web/src/modules/survey/Result/Result.js
  code/web/src/modules/survey/Result/Result.test.js
Labels: front_end, style-feature, survey-results, testing
